<div class="row center-align" ng-show="employee === undefined">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>
</div>

<div class="row white z-depth-1 employeedetail-content" ng-hide="employee === undefined">
    <div class="col s11">
        <h5>Детали анкеты сотрудника</h5>
    </div>
	
	<div class="col s1 edit-employee">
        <a class="waves-effect waves-light btn btn-icon cyan " href="#/editemployee/{{employee._id}}"><i class="material-icons">edit</i></a>
    </div>
	
	<div class="row">
		<div class="col s12 m5 l3">
			<span class="section">Имя</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.firstname"></p>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12 m5 l3">
			<span class="section">Фамилия</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.lastname"></p>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m5 l3">
			<span class="section">Отчество</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.patronymic"></p>
		</div>
	</div>

	<div class="row" ng-show="employee.birthday">
		<div class="col s12 m5 l3">
			<span class="section">Дата рождения</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.birthday"></p>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m5 l3">
			<span class="section">Роль</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.role"></p>
		</div>
	</div>

	<div class="row" ng-show="employee.department">
		<div class="col s12 m5 l3">
			<span class="section">Департамент</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.department"></p>
		</div>
	</div>

	<div class="row" ng-show="employee.group">
		<div class="col s12 m5 l3">
			<span class="section">Группа</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.group"></p>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m5 l3">
			<span class="section">Комната</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.room"></p>
		</div>
	</div>

	<div class="row" ng-show="employee.dateEmployment">
		<div class="col s12 m5 l3">
			<span class="section">Дата трудоустройства</span>
		</div>
		<div class="col s12  m7 l9">
			<p ng-bind="employee.dateEmployment"></p>
		</div>
	</div>

	<div class="row project-form-employee" ng-show="isShowProjectForm">
		<div class="input-field col s12 m6 l3" ng-class="{invalid: projectDate.startDate === undefined && isSubmit}">
            <input id="startDate" type="date" class="datepicker ss">
            <label for="startDate" ng-class="{active: projectDate.startDate !== undefined }">Начальная дата</label>
            <input type="text" ng-model="projectDate.startDate" class="customdate"  datepicker-init>
            <span ng-show="projectDate.startDate === undefined && isSubmit" class="invalid-message">Обязательное поле</span>
        </div>
		<div class="input-field col s12 m6 l3">
            <input id="endDate" type="date" class="datepicker ss">
            <label for="endDate" ng-class="{active: projectDate.endDate !== undefined }">Конечная дата</label>
            <input type="text" ng-model="projectDate.endDate" class="customdate"  datepicker-init>
        </div>
	</div>

	<div class="row project-form-employee" ng-show="isShowProjectForm">
		<div class="input-field col s8 l6 search-proj">
        	<i class="material-icons prefix">search</i>
        	<input id="icon_prefix" type="text" class="validate" ng-model="searchStringProject" ng-focus="focus=true;blur=false;" ng-blur="blur=true;focus=false;">
        	<label for="icon_prefix" ng-class="{'active': searchStringProject !== undefined && searchStringProject !== ''}">Введите название проекта</label>
        	<div class="collection" ng-hide="blur || findedProject.length === 0">
				<a href class="collection-item" ng-repeat="project in findedProject | filter:{ name: searchStringProject }" ng-click="setFindProject(project)">{{project.name}}</a>
			</div>
        </div>
        <div class="input-field col s4 l6">
        	<button class="waves-effect waves-light btn btn-large blue darken-1" ng-click="addProject()" type="button"><i class="material-icons">add</i></button>
        </div>
	</div>
	<div class="row">
		<div class="col s12 l6 employee-project">
			<span class="section">Проекты</span>
			<button type="button" class="waves-effect waves-light btn btn-small blue" ng-click="showAddProjectForm()">
				<span ng-hide="isShowProjectForm">добавить</span>
				<span ng-show="isShowProjectForm">закрыть</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col s12 l6 proj-list">
			<p ng-hide="employee.projects.length !== 0">Отсутствуют</p>
			<div class="chip cyan white-text tooltipped" ng-repeat="project in employee.projects" not-remove-chip data-position="bottom" data-delay="50" data-tooltip="{{getProjectDate(project)}}" tooltipped-init>
                {{project.name}}<i class="material-icons" ng-click="removeProject(project)">close</i>
            </div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 l6">
			<span class="section">Навыки</span>
		</div>
	</div>
	<div class="row">
		<div class="col s12 l6">
			<p ng-hide="employee.technologies.length !== 0">Отсутствуют</p>
			<div ng-repeat="skills in employee.technologies">
				<a class="btn-flat waves-effect btn-tech active cyan-text">
		            <i class="material-icons left arrow">keyboard_arrow_right</i> {{skills.tech.techName}}
		        </a>
		        <div class="row">
		            <div class="col s12 chips ">
		                <div class="chip cyan white-text" ng-repeat="subTech in skills.subTech" not-remove-chip>{{subTech.name}}</div>
		            </div>
		        </div>
		     </div>
		</div>
	</div>

</div>