<div class="row white z-depth-1 employee-content" >
	<div class="col s12 head-btn">
        <h5>Список анкет сотрудников</h5>
        <a href="#/newemployee" class="waves-effect waves-light btn blue darken-2"><i class="material-icons left">add</i>Создать</a>
    </div>
    <div class="row  margin-bottom_none">
		<button type="button" class="waves-effect waves-light btn btn-icon cyan btn-small" ng-click="toggleFilterSection()">
			<i class="material-icons left" ng-if="isFilterSectionShow">keyboard_arrow_up</i>
			<i class="material-icons left" ng-if="!isFilterSectionShow">keyboard_arrow_down</i>Фильтрация
		</button>
        <span>Сортировка:</span>
        <button type="button" class="waves-effect waves-light btn btn-icon cyan btn-small tooltipped"
                ng-click="toggleSorting()"
                data-position="bottom"
                data-delay="50"
                data-tooltip="{{isDecreaseEmployee ? 'По убыванию' : 'По возрастанию'}}"
                tooltipped-init>
            <i class="material-icons left" ng-if="!isDecreaseEmployee">trending_up</i>
            <i class="material-icons left" ng-if="isDecreaseEmployee">trending_down</i>Кол-во компетенций
        </button>
		<div class="col s12 section fade-anim" ng-show="isFilterSectionShow">
			<div class="row">
				<div class="col m10">
					<span>Выберите технологии для фильтрации</span>
					<button type="button" class="waves-effect waves-light btn btn-icon cyan" ng-click="showFilteringEmployee()">
						Применить
					</button>
                    <button type="button" class="waves-effect waves-light btn btn-icon cyan" ng-click="cancelFilteringEmployee()">
                        Отмена
                    </button>
				</div>
			</div>
			<div class="row report-tech" ng-controller="TechListCtrl" ng-include="'../components/newproject/techList/techList.html'"></div>
		</div>
	</div>

    <div class="row center-align" ng-show="employees === undefined">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="employees === undefined">
	    <div class="col s12" ng-if="employees.length === 0">
	        <p>Анкеты сотрудников отсутствуют. Перейдите на страницу добавления анкеты сотрудника воспользовавшись кнопкой выше.</p>
	    </div>
    	<div class="col s12" ng-if="employees.length !== 0">
    		<table class="bordered highlight">
				<thead>
					<tr>
						<th>ФИО</th>
						<th>Департамент</th>
						<th>Группа</th>
						<th colspan="2">Комната</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees">
						<td  ng-click="employeeDetail(employee._id)">{{employee.lastname}} {{employee.firstname}}</td>
						<td ng-click="employeeDetail(employee._id)">{{employee.department}}</td>
						<td ng-click="employeeDetail(employee._id)">{{employee.group}}</td>
						<td ng-click="employeeDetail(employee._id)">{{employee.room}}</td>
						<td><a href ng-click="removeEmployee($index, employee._id)" class="waves-effect waves-red btn btn-icon cyan"><i class="material-icons">close</i></a></td>
					</tr>
				</tbody>
			</table>
    	</div>
    </div>
</div>
