

<div class="row white z-depth-1 tech-top">
    <div class="col s12">
        <h5>Дерево технологий</h5>
    </div>
    <div class="input-field col s12 m6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">Имя новой технологии</label>
    </div>
    <div class="input-field col s12 m6">
        <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Добавить</a>
    </div>
</div>

<div class="row white z-depth-1 tech-content">
    <div class="col 12">
        <a class="btn-flat waves-effect btn-tech"><i class="material-icons left">keyboard_arrow_right</i>Packages</a>
        <div class="row">
            <div class="col s12 chips">
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
                <div class="chip">
                    Jane Doe<i class="material-icons">close</i>
                </div>
            </div>
        </div>
    </div>
</div>