<div class="row white z-depth-1 newproject-content" >
    <div class="col s12">
        <h5>Создание нового проекта</h5>
    </div>
    <div class="col s12">
    	<form name="newProjectForm" novalidate ng-submit="addProject()">
    		<div class="row">
    			<div class="col s12 l8">
    				<div class="row">
				    	<div class="input-field col s12 m10 l12" ng-class="{invalid: (newProject.name == undefined || newProject.name == '') && isNewProjectForm}">
				    		<input id="name" type="text" class="validate" required ng-model="newProject.name">
				          	<label for="name">Наименование</label>
				          	<span ng-show="(newProject.name == undefined || newProject.name == '') && isNewProjectForm" class="invalid-message">Обязательное поле</span>
				    	</div>
				    </div>

					<div class="row roles fade-anim" ng-show="isShowRoleList">
						<div class="col s12 chips grey lighten-5">
							<div class="chip" ng-repeat="role in roles" ng-click="addRole(role)" not-remove-chip>
			                    {{role.name}}
			                    <i class="material-icons">add</i>
			                </div>
						</div>
					</div>

					<div class="row">
				    	<div class="input-field col col s12 m10 l12" ng-class="{invalid: (newProject.roles == undefined || newProject.roles.length == 0) && isNewProjectForm}">
				    		<span class="grey-text">Роли</span>
				    		<button type="button" class="waves-effect waves-light btn btn-small cyan" ng-click="showRoles()">
				    			<span ng-hide="isShowRoleList">Открыть список</span>
				    			<span ng-show="isShowRoleList">Закрыть список</span>
				    		</button>
				    		<div class="custom-input-field">
						        <div class="row chips">
						        	<div class="col s12">
						        		<div class="chip role" ng-repeat="role in newProject.roles track by $index" not-remove-chip>
						                    {{role.name}}
						                    <span class="new badge" ng-show="role.count > 1">{{role.count}}</span>
						                    <i class="material-icons" ng-click="removeRole($index)">close</i>
						                </div>
						        	</div>
						        </div>
				    		</div>
				    		<span ng-show="(newProject.roles == undefined || newProject.roles.length == 0) && isNewProjectForm" class="invalid-message">Обязательное поле</span>
				    	</div>
				    </div>

				    <div class="row" replace-material-icon>
				    	<div class="input-field col col s12 m10 l12">
				    		<!-- <textarea id="description" class="materialize-textarea"></textarea> -->
				          	<span class="grey-text">Описание</span>
				    	
				    		<div text-angular ng-model="newProject.description" ></div>
				    	</div>
				    </div>

					<div class="row">
						<div class="col s12 grey lighten-5 tech_list fade-anim" ng-show="isShowTechList">
		    				<div class="col s12 grey lighten-3 tech-panel">
		    					<button type="button" class="waves-effect waves-light btn btn-icon cyan tooltipped" data-position="top" data-delay="50" data-tooltip="Развернуть вложенные технологии" ng-click="showAllSubTech()" tooltipped-init><i class="material-icons">fullscreen</i></button>
					            <button type="button" class="waves-effect waves-light btn btn-icon cyan tooltipped" data-position="top" data-delay="50" data-tooltip="Свернуть вложенные технологии" ng-click="hideAllSubTech()" tooltipped-init><i class="material-icons">fullscreen_exit</i></button>
		    				</div>
		    				<div class="col s12" ng-repeat="tech in technologies">
						        <a class="btn-flat waves-effect btn-tech" ng-class="{active: isActiveTech($index)}">
						            <i class="material-icons left arrow" ng-click="setActiveTech($index)">keyboard_arrow_right</i>
						            <span ng-click="setActiveTech($index)">{{tech.techName}}</span>
						            <i class="material-icons right smaller" ng-click="addTechInProject($index)">add</i>
						        </a>
						        <div class="row sub-tech-row fade-anim" ng-show="isActiveTech($index)">
						            <div class="col s12 chips" ng-sortable="subTechConfig">
						                <div class="chip" ng-repeat="subTech in tech.subTech" not-remove-chip  ng-click="addSubTechInProject($index,$parent.$index)" ng-hide="isSelectedSubTech(tech._id, subTech._id)">
						                    {{subTech.name}}
						                </div>
						            </div>
						        </div>
						    </div>
		    			</div>
					</div>

				    <div class="row">
				    	<div class="input-field col col s12 m10 l12" ng-class="{invalid: (newProject.tech == undefined || newProject.tech.length == 0) && isNewProjectForm}">
				    		<span class="grey-text">Технологии</span>
				    		<button type="button" class="waves-effect waves-light btn btn-small cyan" ng-click="showTechnologies()">
				    			<span ng-hide="isShowTechList">Открыть список</span>
				    			<span ng-show="isShowTechList">Закрыть список</span>
				    		</button>
				    		<div class="custom-input-field">
				    			<div ng-repeat="tech in newProject.tech">
					    			<a class="btn-flat waves-effect btn-tech active">
							            <i class="material-icons left arrow">keyboard_arrow_right</i>
							            {{tech.techName}}
							            <i class="material-icons right" ng-click="removeTechFromProj($index)">close</i>
							        </a>
							        <div class="row">
							            <div class="col s12 chips" ng-sortable="subTechConfig">
							                <div class="chip" ng-repeat="subTech in tech.subTech" not-remove-chip>
							                    {{subTech.name}}
							                    <i class="material-icons" ng-click="removeSubTechFromProject($index, $parent.$index)">close</i>
							                </div>
							            </div>
							        </div>
							     </div>
				    		</div>
				    		<span ng-show="(newProject.tech == undefined || newProject.tech.length == 0) && isNewProjectForm" class="invalid-message">Обязательное поле</span>
				    	</div>
				    </div>

				    <div class="row responsib_list fade-anim" ng-show="isShowResponsibList">
						<div class="col s12 grey lighten-3 head">
							<span class="grey-text">Список обязанностей</span>	
						</div>
						<div class="col s12  grey lighten-5">
							<ul class="collection">
					            <a class="collection-item" ng-repeat="responsibility in responsibilities" ng-click="addResponsibility(responsibility)" ng-hide="isSelectedResponsibility(responsibility)">
					                {{responsibility.name}}
					                <i class="material-icons cyan-text secondary-content">add</i>
					            </a>
					        </ul>
						</div>
					</div>

					<div class="row">
				    	<div class="input-field col col s12 m10 l12" ng-class="{invalid: (newProject.responsibilities == undefined || newProject.responsibilities.length == 0) && isNewProjectForm}">
				    		<span class="grey-text">Обязанности</span>
				    		<button type="button" class="waves-effect waves-light btn btn-small cyan" ng-click="showResponsibility()">
				    			<span ng-hide="isShowResponsibList">Открыть список</span>
				    			<span ng-show="isShowResponsibList">Закрыть список</span>
				    		</button>
				    		<a href="#newResponsibility" class="waves-effect waves-light btn btn-small cyan" modal-init><i class="material-icons" >add</i></a>
				    		<div class="custom-input-field responsib_list">
				        		<ul class="collection" ng-show="newProject.responsibilities.length !== 0">
						            <li class="collection-item" ng-repeat="responsibility in newProject.responsibilities">
						                {{responsibility.name}}
						                <a href ng-click="removeResponsibility($index)"><i class="material-icons cyan-text secondary-content">close</i></a>
						            </li>
						        </ul>
				    		</div>
				    		<span ng-show="(newProject.responsibilities == undefined || newProject.responsibilities.length == 0) && isNewProjectForm" class="invalid-message">Обязательное поле</span>
				    	</div>
				    </div>

					<div class="row">
					    <div class="input-field col col s12 m10 l12">
	                        <input id="dateEnd" type="date" class="datepicker ss">
	                        <label for="dateEnd">Дата окончания проекта</label>
	                        <input type="text" ng-model="newProject.dateEnd" class="customdate"  datepicker-init>
	                    </div>
                    </div>

				    <div class="row">
				    	<div class="input-field col col s12 m10 l12">
				    		<button class="waves-effect waves-light btn-large blue darken-2" type="submit"><i class="material-icons left">add</i>Создать</button>
				    	</div>
				    </div>
				    
    			</div>
    			
    		</div>
		    
	    </form>
    </div>
</div>

<!-- Modal Structure -->
<div id="newResponsibility" class="modal">
    <div class="modal-content">
        <h5>Добавить обязанность</h5>
        <div class="row">
            <div class="input-field col s12" ng-class="{invalid: newResponsibility.name == ''}">
                <input id="edit_name" name="edit_name" type="text" class="validate" required ng-model="newResponsibility.name" tabindex="1">
                <label for="edit_name">Введите имя обязанности</label>
                <span ng-show="newResponsibility.name == ''" class="invalid-message">Обязательное поле</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href class=" modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
        <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="addNewResponsibility()" tabindex="2">Добавить</button>
    </div>
</div>