body {
	background: #f5f5f5;
}
header, .main, footer {
	padding-left: 240px;
}

.main {
	padding-top: 50px;
}

.top-nav {
	height: 100px;
	line-height: 100px;
}

nav .nav-wrapper .button-collapse i {
	line-height: 100px;
}

.side-nav.fixed i {
	position: relative;
	top: 5px;
	left: -10px;
}

/*-------------technologies page--------------------*/
.tech-top {
	padding: 10px;
}

.tech-content .row {
	margin-bottom: 0;
}

.btn-tech {
	padding: 0 1rem;
}

.tech-content {
	padding: 10px 0;
}

.chips {
	margin: 5px 0;
}

.chips .chip {
	margin-right: 5px;
	margin-bottom: 5px;
	/*display: block;*/
	/*width: auto;*/
	/*float: left;*/
}

.chips .chip:hover {
	cursor: pointer;
}

.btn-tech i {
	transition: all 0.5s ease;
}

.btn-tech.active i {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* input-field focus color */
.input-field input:focus + label {
	color: #42a5f5;
}

.input-field input:focus {
	border-bottom: 1px solid #42a5f5;
	box-shadow: 0 1px 0 0 #42a5f5;
}
/* end input-field focus color */
/* invalid input-field focus color */
.invalid {
	position: relative;
}

.invalid .invalid-message {
	position: absolute;
    bottom: -3px;
    font-size: 12px;
    color: #ff9800 ;
}

.invalid input {
	border-bottom: 1px solid #ff9800 ;
	box-shadow: 0 1px 0 0 #ff9800;
}

.invalid.input-field input:focus {
	border-bottom: 1px solid #ff9800;
	box-shadow: 0 1px 0 0 #ff9800;
}

.invalid.input-field input:focus + label {
    color: #ff9800;
}
/* end invalid input-field focus color */
/*---------------------------------*/

@media only screen and (max-width : 992px) {
	header, .main, footer {
		padding-left: 0;
	}
}

@media only screen and (min-width: 993px) {
	.container {
	    width: 85%;
	}
}

@media only screen and (min-width: 601px) {

}