<!DOCTYPE html>
<html lang="en" ng-app="skillsApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Skills employee service</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css"> -->
  <!-- <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body layout="column" ng-controller="AppCtrl">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
        </md-icon>
      </md-button>
      <h1>Angular Material: &nbsp; Starter CodePen </h1>
    </div>
  </md-toolbar>
  <div layout="row" flex>

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <!-- <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in menuItems" role="link" ng-click="changeLocation(item.link)">
          <md-icon md-font-set="material-icons"> {{item.icon}} </md-icon>
          <div class="md-list-item-text">
            <span class="md-body-2">{{item.title}}</span>
          </div>
        </md-list-item>
      </md-list> -->
      <md-list>
        <md-list-item ng-repeat="item in menuItems">
          <a>
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <md-icon md-font-set="material-icons"> {{item.icon}} </md-icon>
              </div>
              <div class="inset">{{item.title}}
              </div>
            </md-item-content>
          </a>
      </md-list-item>
    </md-sidenav>
    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding">
        This Starter Application consists of a Toolbar, SideNav (with two buttons), and Content area.
        <p>This is the content area! </p>
      </md-content>
    </div>
  </div>
  <div ng-view></div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainController.js"></script>

</body>
</html>
