<div class="row white z-depth-1 newproject-content" >
    <div class="col s12">
        <h5 ng-if="!isEdit">Создание нового проекта</h5>
        <h5 ng-if="isEdit">Изменение проекта</h5>
    </div>
    <div class="col s12">
    	
    	<form name="newProjectForm" novalidate ng-submit="sendProject()">
    		<div class="row">
    			<div class="col s12 l8">
    				<div class="row">
				    	<div class="input-field col s12 m10 l12" ng-class="{invalid: (newProject.name == undefined || newProject.name == '') && isNewProjectForm}">
				    		<input id="name" type="text" class="validate" required ng-model="newProject.name">
				          	<label for="name" ng-class='{active: newProject.name !== undefined}'>Наименование</label>
				          	<span ng-show="(newProject.name == undefined || newProject.name == '') && isNewProjectForm" class="invalid-message">Обязательное поле</span>
				    	</div>
				    </div>
					
					<div ng-controller="RoleInputCtrl" ng-include="'../components/newproject/role/roleInput.html'"></div>

				    <div class="row" replace-material-icon>
				    	<div class="input-field col col s12 m10 l12">
				    		<!-- <textarea id="description" class="materialize-textarea"></textarea> -->
				          	<span class="grey-text">Описание</span>
				    	
				    		<div text-angular ng-model="newProject.description" ></div>
				    	</div>
				    </div>

					<div class="row" ng-controller="TechListCtrl" ng-include="'../components/newproject/techList/techList.html'"></div>

				    <div class="row" ng-controller="TechInputCtrl" ng-include="'../components/newproject/techInput/techInput.html'"></div>

				    <div ng-controller="ResponsibilityInputCtrl" ng-include="'../components/newproject/responsibility/responsibilityInput.html'"></div>

					<div class="row">
						<div class="file-field input-field col s12 m10 l12 ">
					    	<div class="btn cyan">
					        	<span>Файлы</span>
					        	<input type="file" ngf-select ng-model="files" ngf-multiple="true" ngf-max-size="'10MB'" ngf-pattern="'.jpg,.png,.jpg,.jpeg,.gif'">
					    	</div>
					    	<div class="file-path-wrapper">
					        	<input class="file-path validate" type="text">
					    	</div>
					    </div>
					</div>
					<div class="row file-preview" ng-show="projectImgs.length != 0">
						<div class="col s12 m10 l12 grey lighten-3">
							<div class="row">
								<div class="col s3 img-cont" ng-repeat="image in projectImgs" ng-click="removeImage($index)"><img ngf-thumbnail="image"></div>
							</div>
						</div>
					</div>

					<div class="row">
					    <div class="input-field col s12 m10 l12">
	                        <input id="dateEnd" type="date" class="datepicker ss">
	                        <label for="dateEnd" ng-class='{active: newProject.dateEnd !== undefined}'>Дата окончания проекта</label>
	                        <input type="text" ng-model="newProject.dateEnd" class="customdate"  datepicker-init>
	                    </div>
                    </div>

				    <div class="row">
				    	<div class="input-field col col s12 m10 l12">
				    		<button class="waves-effect waves-light btn-large blue darken-2" 
				    			type="submit" ng-if="!isEdit"><i class="material-icons left">add</i>Создать</button>
				    		<button class="waves-effect waves-light btn-large blue darken-2" 
				    			type="submit" ng-if="isEdit"><i class="material-icons left">edit</i>Изменить</button>
				    	</div>
				    </div>
				    
    			</div>
    			
    		</div>
		    
	    </form>
    </div>
</div>

<!-- Modal Structure -->
<div id="newResponsibility" class="modal">
    <div class="modal-content">
        <h5>Добавить обязанность</h5>
        <div class="row">
            <div class="input-field col s12" ng-class="{invalid: newResponsibility.name == ''}">
                <input id="edit_name" name="edit_name" type="text" class="validate" required ng-model="newResponsibility.name" tabindex="1">
                <label for="edit_name">Введите имя обязанности</label>
                <span ng-show="newResponsibility.name == ''" class="invalid-message">Обязательное поле</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href class=" modal-action modal-close waves-effect waves-green btn-flat">Отмена</a>
        <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="addNewResponsibility()" tabindex="2">Добавить</button>
    </div>
</div>