<div class="col s12 grey lighten-5 tech_list fade-anim" ng-show="isShowTechList">
	<div class="col s12 grey lighten-3 tech-panel">
		<button type="button" class="waves-effect waves-light btn btn-icon cyan tooltipped" data-position="top" data-delay="50" data-tooltip="Развернуть вложенные технологии" ng-click="showAllSubTech()" tooltipped-init><i class="material-icons">fullscreen</i></button>
        <button type="button" class="waves-effect waves-light btn btn-icon cyan tooltipped" data-position="top" data-delay="50" data-tooltip="Свернуть вложенные технологии" ng-click="hideAllSubTech()" tooltipped-init><i class="material-icons">fullscreen_exit</i></button>
	</div>
	<div class="col s12" ng-repeat="tech in technologies">
        <a class="btn-flat waves-effect btn-tech" ng-class="{active: isActiveTech($index)}">
            <i class="material-icons left arrow" ng-click="setActiveTech($index)">keyboard_arrow_right</i>
            <span ng-click="setActiveTech($index)">{{tech.techName}}</span>
            <i class="material-icons right smaller" ng-click="addTechInProject(tech._id)">add</i>
        </a>
        <div class="row sub-tech-row fade-anim" ng-show="isActiveTech($index)">
            <div class="col s12 chips" ng-sortable="subTechConfig">
                <div class="chip" ng-repeat="subTech in tech.subTech" not-remove-chip  ng-click="addSubTechInProject(tech._id, subTech._id, $index, $parent.$index)" ng-hide="isSelectedSubTech(tech._id, subTech._id)">
                    {{subTech.name}}
                </div>
            </div>
        </div>
    </div>
</div>